language: node_js
sudo: true
dist: trusty
node_js:
  - 10
branches:
  except:
    - /^v[0-9]/
install:
  - yarn global add lerna && yarn global add typescript
  - lerna bootstrap
  - lerna link
script:
  - tsc -b tsconfig.json
cache:
  directories:
    - '$HOME/.yarn-cache'
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master